.custom-container, .customise-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 3rem 5rem;
}

.customise-area {
    gap: 0.2rem;
    width: 41%;
    height: auto;
    padding: 0rem;
}

.customise-area input {
    width: 51%;
}

.customise-area p {
    font-size: 1.1rem;
}

.customise-area button {
    width: auto;
}